* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

#app {
    margin: 2% 10%;
    background-color: white;
    height: 900px;
    display: flex;
}

/* container sinistra */

#container-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gainsboro;
}

/* header sinistro */

#header-left {
    height: 75px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-pic {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 1rem;
}

.icon {
    color: #b1b1b1;
    margin-right: 20px;
    font-size: 20px;
}

#user {
    display: flex;
    align-items: center;
}





/* notifiche */

#notifications {
    height: 85px;
    background-color: #8edafc;
    padding: 15px;
    display: flex;
}

#bell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#notifications a {
    color: grey;
    font-size: 12px;
}

/* search bar */

#search-chat {
    height: 55px;
    background-color: #fafafa;
    display: flex;
    padding: 10px;
}

.contact {
    height: 85px;
    background-color: white;
    border: 1px solid gainsboro;
    padding: 10px;
    display: flex;
}



/* container destra */

#container-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header-right {
    height: 75px;
    background-color: #eaeaea;
}

/* chat aperta */
#chat-box {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    padding: 50px 105px;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 300px;
    min-width: 300px;
    padding: 20px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}

#chat-bar {
    height: 75px;
}