<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div id="app">
        <!-- lista contatti -->
       <div id="container-left">
            <div id="header-left">
                <div id="user">
                    <img v-for="user in user" :src="user.avatar" :alt="user.name" class="profile-pic">
                    <div>Sofia</div>
                </div>
                <div id="icons">
                    <span class="icon"><i class="fa-solid fa-circle-notch"></i></span>
                    <span class="icon"><i class="fa-solid fa-message"></i></span>
                    <span class="icon"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                </div>
            </div>

            <div id="notifications">
                <div id="bell">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
                
            </div>

            <div id="search-chat">
                cerca chat
            </div>

            <div>
                <div v-for="contact in contacts" class="contact">
                    {{ contact.name }}
                </div>
                
            </div>
           
           
            

       </div>

       <!-- schermata chat -->
       <div id="container-right">

            <div id="header-right">
                contatto aperto
            </div>

            <div id="chat-box">
                chat
            </div>

            <div id="chat-bar">
                scrivi un messaggio
            </div>
            
       </div>
    </div>
    
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script> 
</body>
</html>